<div class="code-container" id="{{id}}">
	{{!-- <span class="title">{{title}}</span> --}}
	<span class="file-icon"><img src="/src/assets/edit.svg" alt="" class="file-icon1"></span>
	<p>{{title}}</p>
	<span class="update-time">{{update_time}}</span>
	<span class="content">{{content}}</span>
</div>