<div class="code-container" id="{{id}}">
	{{!-- <span class="title">{{title}}</span> --}}
	<h3>{{title}}</h3>
	<span class="update-time">{{update_time}}</span>
	<span class="content">{{content}}</span>
</div>